<% student = @student %>
<%= form_for(student, url: applications_student_accept_path(student), html: {method: "post"}) do |form| %>

<div class="field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>

<div class="field">
  <%= form.label :middle_name %>
  <%= form.text_field :middle_name %>
</div>

<div class="field">
  <%= form.label :first_surname %>
  <%= form.text_field :first_surname %>
</div>

<div class="field">
  <%= form.label :second_surname %>
  <%= form.text_field :second_surname %>
</div>

<div class="field">
  <%= form.label :university_code %>
  <%= form.text_field :university_code %>
</div>

<div class="field">
  <%= form.label :university_username %>
  <%= form.text_field :university_username %>
</div>

<div class="field">
  <%= form.label :mobile_phone %>
  <%= form.text_field :mobile_phone %>
</div>

<div class="field">
  <%= form.label :undergraduate_id %>
  <%= form.collection_select :undergraduate_id, Undergraduate.all, :id, :name, { :selected => @undergraduate },  prompt: true %>
</div>


<div class="actions">
  <%= form.submit("Acept") %>
</div>
<% end %>
<br>
  <%= button_to 'Reject', applications_student_reject_url(@student), method: :post %>

<%= link_to 'Back', applications_students_path %>
