<% student = @student %>
<% def content(f) %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="field form-group">
  <div class="col-sm-10">
    <%= f.input :first_name, label: 'Primer nombre: ' %>
  </div>
</div>

<div class="field form-group">
  <div class="col-sm-10">
    <%= f.input :middle_name, label: 'Segundo nombre: ' %>
  </div>
</div>

<div class="field form-group">
  <div class="col-sm-10">
    <%= f.input :first_surname, label: 'Primer apellido: ' %>
  </div>
</div>


<div class="field form-group">
  <div class="col-sm-10">
    <%= f.input :second_surname, label: 'Segundo apellido: ' %>
  </div>
</div>

<div class="field form-group">
  <div class="col-sm-10">
    <%= f.input :university_code, label: 'Código universitario: ' %>
  </div>
</div>
<div class="field form-group">
  <div class="col-sm-10">
    <%= f.input :university_username, label: 'Usuario universitario: ' %>
  </div>
</div>
<div class="field form-group">
  <div class="col-sm-10">
    <%= f.input :mobile_phone, label: 'Número telefónico ' %>
  </div>
</div>
<strong>Pregrados</strong>
<div class="field form-group">
    <%= f.simple_fields_for :student_has_undergraduates do |student_has_undergraduate| %>
    <%= render 'student_has_undergraduate_fields', f: student_has_undergraduate %>
    <% end %>
       <%= link_to_add_association 'Agregar pregrado', f, :student_has_undergraduates %>
</div>

<div class="actions">
  <%= f.button(:submit, @title) %>
</div>
<% end %>

<% if @url != nil then %>
<%= simple_form_for(student,url: @url, html: { method: "post", class: 'form-horizontal' },local: true) do |f| %>
<% content(f) %>
<% end %>

<% else %>

<%= simple_form_for(student) do |f| %>
<% content(f) %>
<% end %>
<% end %>
