<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Middle name</th>
      <th>First surname</th>
      <th>Second surname</th>
      <th>University code</th>
      <th>University username</th>
      <th>Mobile phone</th>
      <th>Is advisor</th>
      <th>Undergraduate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.middle_name %></td>
        <td><%= student.first_surname %></td>
        <td><%= student.second_surname %></td>
        <td><%= student.university_code %></td>
        <td><%= student.university_username %></td>
        <td><%= student.mobile_phone %></td>
        <td><%= student.is_advisor %></td>
        <td><% student.undergraduates.each do |under| %>
          <p><%= under.name %></p>
          <% end %>
          </td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
<%= link_to 'New advisor', new_advisor_path %>
<%= button_to 'Salir', root_path, method: :get %>
