<p id="notice"><%= notice %></p>

<p>
  <strong>Primer nombre:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Segundo nombre:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @student.first_surname %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @student.second_surname %>
</p>

<p>
  <strong>Código universitario:</strong>
  <%= @student.university_code %>
</p>

<p>
  <strong>Usuario universitario:</strong>
  <%= @student.university_username %>
</p>

<p>
  <strong>Número telefónico:</strong>
  <%= @student.mobile_phone %>
</p>

<p>
  <strong>Monitor:</strong>
  <%= @student.is_advisor %>
</p>
<p>
  <strong>Pregrado(s):</strong>
  <ul>
    <% @student.undergraduates.each do |undergraduate| %>
    <li><%= undergraduate.name %></li>
    <% end %>
  </ul>
</p>
<div>
<%= link_to 'Edit Profile', edit_student_path(@student), class: 'btn' %>
</div>
<br>
<div class="card">
  <div class="card-header">Your Advices</div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Periodo</th>
        <th>Día</th>
        <th>Hora</th>
        <th>Materia</th>
        <th>Monitor</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @advices.each do |advice| %> 
      <tr>
        <td><%= advice.id %></td>
        <td><%= advice.month.name %></td>
        <td><%= advice.day_has_hour.day.name %></td>
        <td><%= advice.day_has_hour.hour.name %></td>
        <td><%= advice.subject.name unless advice.subject == nil %></td>
        <td><%= advice.advisor.student.full_name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Ask New Advice', new_advice_path, class: 'btn' %>

</div>

<% if current_user.kind == 1 or current_user.kind == 0 %>
<br>
<%= link_to 'Back', students_path, class: 'btn' %>
<% end %>
