<p id="notice"><%= notice %></p>

<p>
  <strong>Primer nombre:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Segundo nombre:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @student.first_surname %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @student.second_surname %>
</p>

<p>
  <strong>Código universitario:</strong>
  <%= @student.university_code %>
</p>

<p>
  <strong>Usuario universitario:</strong>
  <%= @student.university_username %>
</p>

<p>
  <strong>Número telefónico:</strong>
  <%= @student.mobile_phone %>
</p>

<p>
  <strong>Monitor:</strong>
  <%= @student.is_advisor %>
</p>

<p>
  <strong>Pregrado(s):</strong>
  <ul>
    <% @student.undergraduates.each do |undergraduate| %>
      <li><%= undergraduate.name %></li>
    <% end %>
  </ul>
</p>

<p>  
  <strong>Monitoria(s):</strong>
  <ul>
    <% @student.session_has_students.each do |session_has_student| %>
      <li><%= session_has_student.id %></li> 
      <%= link_to 'Survey', new_survey_path(id: session_has_student.id) %>    
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
