<p id="notice"><%= notice %></p>

<p>
  <strong>Primer nombre:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Segundo nombre:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @student.first_surname %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @student.second_surname %>
</p>

<p>
  <strong>Código universitario:</strong>
  <%= @student.university_code %>
</p>

<p>
  <strong>Usuario universitario:</strong>
  <%= @student.university_username %>
</p>

<p>
  <strong>Número telefónico:</strong>
  <%= @student.mobile_phone %>
</p>

<p>
  <strong>Monitor:</strong>
  <%= @student.is_advisor %>
</p>

<p>
  <strong>Válido:</strong>
  <%= @student.is_advisor %>
</p>

<p>
  <strong>Pregrado(s):</strong>
  <ul>
    <% @student.undergraduates.each do |undergraduate| %>
      <li><%= undergraduate.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Editar', edit_student_path(@student) %> |
<%= link_to 'Volver', students_path %>
