<%= form_for :advice do |form| %>
  <div class="field">
    <%= form.label :session_id, 'Materia' %>
    <%= form.collection_select :session_id, Session.all, :id, :formatted_name, prompt: 'Seleccionar' %>
  </div>

  <div class="field">
    <%= form.label :student_university_code, 'Código del estudiante' %>
    <%= form.text_field :student_university_code %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar' %>
  </div>
<% end %>
