<p id="notice"><%= notice %></p>

<h1>Advices</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Periodo</th>
      <th>Día</th>
      <th>Hora</th>
      <th>Materia</th>
      <th>Monitor</th>
      <th>Estudiantes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %> 
    <tr>
      <td><%= session.id %></td>
      <td><%= session.semester.name %>, <%= session.month.name %></td>
      <td><%= session.day.name %></td>
      <td><%= session.hour.name %></td>
      <td><%= session.subject.name %></td>
      <td><%= session.advisor.full_name %></td>
      <td>
        <ul>
          <% session.students.each do |student| %>
            <li><%= student.full_name %><br></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Advice', new_advice_path, class: 'btn' %> | 
<%= link_to 'See statistics', advices_statistics_path %>
