<% advisor = @advisor %>
<% def content(form) %>
  <% if @advisor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advisor.errors.count, "error") %> prohibited this advisor from being saved:</h2>

      <ul>
      <% @advisor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :university_code, "University code VERIFICAR" %>
    <%= @student.university_code %>
  </div>

  <div class="field">
    <%= form.label :subject1_id %>
    <% if @subject1 != -1 then %>
    <%= form.collection_select :subject1_id, Subject.all, :id, :name, { :selected => @subject1 } , prompt: true %>
    <% else %>
    <%= form.collection_select :subject1_id, Subject.all, :id, :name, prompt: true %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :subject2_id %>
    <% if @subject2 != -1 then %>
    <%= form.collection_select :subject2_id, Subject.all, :id, :name, { :selected => @subject2 } , prompt: true %>
    <% else %>
    <%= form.collection_select :subject2_id, Subject.all, :id, :name, prompt: true %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :subject3_id %>
    <% if @subject3 != -1 then %>
    <%= form.collection_select :subject3_id, Subject.all, :id, :name, { :selected => @subject3 } , prompt: true %>
    <% else %>
    <%= form.collection_select :subject3_id, Subject.all, :id, :name, prompt: true %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :subject4_id %>
    <% if @subject4 != -1 then %>
    <%= form.collection_select :subject4_id, Subject.all, :id, :name, { :selected => @subject4 } , prompt: true %>
    <% else %>
    <%= form.collection_select :subject4_id, Subject.all, :id, :name, prompt: true %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit(@title) %>
  </div>
  <% end %>
  
<% if @url != nil %>
<%= form_with(model: advisor, url: @url, html: { method: "post"},local:true) do |form| %>
<% content(form) %>
<% end %>

<% else %>

<%= form_with(model: advisor, local:true) do |form| %>
<% content(form) %>
<% end %>
<% end %>
