<%= simple_form_for(advisor) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :student_id, {
          collection: Student.order(:university_code),
          label_method: :university_code,
          value_method: :id,
          label: 'Código de estudiante',
          prompt: 'Seleccione un estudiante'
        }
    %>

    <strong>Materias</strong>
    <br>
    <%= f.simple_fields_for :advisor_has_subjects do |advisor_has_subject| %>
      <%= render 'advisor_has_subject_fields', f: advisor_has_subject %>
    <% end %>
    <%= link_to_add_association 'Agregar materia', f, :advisor_has_subjects %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Crear monitor' %>
  </div>
<% end %>
