<p id="notice"><%= notice %></p>

<h1>Advisors</h1>

<table>
  <thead>
    <tr>
      <th>Student username</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advisors.each do |advisor| %>
      <tr>
        <td><%= advisor.student.university_username %></td>
        <td><%= advisor.semester.name %></td>
        <td><%= link_to 'Show', advisor %></td>
        <td><%= link_to 'Edit', edit_advisor_path(advisor) %></td>
        <td><%= link_to 'Destroy', advisor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= if advisor.is_valid == nil then link_to 'Validate', advisors_validate_path(advisor) end%></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Advisor', new_advisor_path %> | 
<%= link_to 'Back', root_path, method: :get %>
