<p id="notice"><%= notice %></p>

<p>
  <strong>Student username:</strong>
  <%= @advisor.student.university_username %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @advisor.semester.name %>
</p>

<p>
  <strong>Subjects:</strong>
  <% @advisor.subjects.each do |subject| %>
  <%= subject.name %><br>
  <% end %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @advisor.student.advisor_grade %>
</p>

<%= link_to 'Schedule', advisor_schedule_path(@advisor), method: :get %> |
<%= link_to 'Edit', edit_advisor_path(@advisor) %> |
<%= link_to 'Qualify', advisor_grade_path(@advisor) %> |
<%= link_to 'Back', advisors_path %>
