<p id="notice"><%= notice %></p>

<p>
  <strong>Código universitario:</strong>
  <%= @advisor.student.university_code %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @advisor.semester.name %>
</p>

<p>
  <strong>Válido:</strong>
  <%= @advisor.is_valid %>
</p>

<p>
  <strong>Materias:</strong>
  <ul>
    <% @advisor.subjects.each do |subject| %>
      <li><%= subject.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Horario', advisor_schedule_path(@advisor), method: :get %> | 
<%= link_to 'Editar', edit_advisor_path(@advisor) %> |
<%= link_to 'Volver', advisors_path %>
