<p>
  <strong>Term:</strong>
  <%= @advisor.term.name %>
</p>

<p>
  <strong>Student code:</strong>
  <%= @advisor.student.university_code %>
</p>

<p>
  <strong><%= "Subject".pluralize(@advisor.subjects.size) + ":" %></strong>
  <% @advisor.subjects.each do |subject| %>
    <br><%= subject.name %>
  <% end %>
</p>

<br>

<%= link_to 'Accept', applications_advisor_accept_url(@advisor), method: :post %>
<%= link_to 'Reject', applications_advisor_reject_url(@advisor), method: :post %>
<%= link_to 'Back', applications_advisors_path %>
