<!DOCTYPE html>
<html>
  <head>
    <title>MOCA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>


    <div class="container">
      
      <ul class="nav nav-tabs">
        <li> <%= link_to "Home" %> </li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
